* {
  box-sizing: border-box;
  color: #fff;
  font-family: Oxygen, sans-serif;
  margin: 0;
  padding: 0;
}
input {
  background-color: initial;
  border-bottom: 2px solid #ffff !important;
  border: none;
  outline: none;
  width: 25%;
  font-size: 20px;
  font-weight: 500;
  margin: 50px 0px 0px 85px;
}
input::placeholder {
  color: #ffff;
  font-style: italic;
}

.positionrel{
  position: relative;
  bottom: 800px !important;
}
body {
  background-image: url(waether41.jpg);
  background-repeat: no-repeat;
  height: auto;
  background-position: center;
}
.otherItem {
  margin-top: 200px;
  width: 50%;
  padding-left: 55px;
}
#date{
  width: 50%;
  padding-left: 55px;
  font-size: 20px;
}
img{
  padding-left: 50px;
  padding-bottom: 50px;
}
.otherItem .deg {
    font-size: 9em;
}
 h2, h3 {  
      font-weight: 500;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    margin-top: 0;

}

#left-sidebar {
  float: right;
  width: 35%;
  height: auto;
  padding: 10px;
 
  background-color: rgba(84, 88, 87, 0.6); 
}
.section-divider {
  border-top: 1px solid #ffff;
  margin: 20px 0;
}
.weatherDetails, .loca p{
display: block;
color: silver;
line-height: 25px;
font-size: 15px;
font-weight: 900;
}
.local{
  display:flex ;
  justify-content: space-around;
}



.weatherDetails {
  padding-top: 100px;
  height: 100vh;
}
#afterDivider {
  margin-top: 100px !important;
}
.fixed-bottom a{
  text-decoration: none;
  color: white;
  font-size: 12px;

}
@media (max-width: 768px) {
  
  input {
    background-color: initial;
    border-bottom: 4px solid #ffff !important;
    border: none;
    outline: none;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    margin-top: 30px;
  }
  #root-body{
    height: auto;
  }
  .otherItem {
    margin-top: 90px;
    width: 100%;
    padding-left: 55px;
  }
  img{
    padding-left: 100px;
  }
  #date{
    padding-left: 55px;
    font-size: 15px;
  }
  #left-sidebar {
    float: right;
    width: 100%;
    height: auto;
    margin-top: 60px;
    padding: 10px;
    background-color: rgba(84, 88, 87, 0.7); 
  }
.fixed-bottom{
  position:fixed;

} 
input::placeholder {
  color: white;
  font-style: italic;
}
}

